@media screen and (min-width: 750px) {
  #carrito {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
  }

  #carrito h2 {
    flex-basis: 100%;
  }

  #productos {
    flex-basis: 65%;
    max-width: 600px;
  }

  .articulos img {
    max-height: 150px;
  }

  #compraTotal {
    flex-basis: 30%;
    flex-grow: 0.5;
    max-width: 400px;
  }
}
