main {
  text-align: center;
  font-family: Bitter, serif;
}

#banner {
  margin: 0;
  width: 100vw;
  height: 15vw;
  object-fit: cover;
  object-position: 0% 27%;
}

#caja-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 5% 5px 5%;
  border: #000 1px solid;
}

#titulo {
  background-color: #401909;
  color: #fff;
  margin-bottom: 5px;
  width: 100%;
  font-family: Alegreya Sans, sans-serif;
}

#caja-contacto-datos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

#caja-contacto-datos a {
  margin: 2px 0;
}

#caja-contacto-separador {
  width: 90%;
  height: 2px;
  margin: 5px auto;
  background-color: #401909;
}

#caja-contacto-redes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

#caja-contacto-redes a {
  margin: 2px 0;
}
