@media (min-width: 769px) {
  footer {
    flex-direction: row;
  }

  #footer_logo {
    width: 150px;
  }

  #footer_sitebar a {
    width: 100%;
    font-size: 22px;
    font-weight: 600;
  }

  #footer_contacto h4 {
    font-size: 20px;
  }

  #footer_contacto a {
    width: 35px;
    height: 35px;
    font-size: 20px;
  }

  #footer_redes h4 {
    font-size: 20px;
  }

  #footer_redes a {
    width: 35px;
    height: 35px;
    font-size: 20px;
  }
}
