* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}



.verde {
  color: #423e03;
}
.violetaOscuro {
  color: #401909;
}
.violetaClaro {
  color: #742d1c;
}

a {
  color: inherit;
}
