* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/*Colores a usar 
verde: #423e03
violetaOscuro: #401909;
violetaClaro: #742d1c;
}*/

a {
  color: inherit;
}

button {
  background-color: #fff;
}
