@media (min-width: 650px) {
  #search-bar {
    width: 270px;
    padding: 10px 0 15px 0;
  }

  #header-navbar {
    order: 1;
    width: auto;
  }

  #header-navbar a {
    display: flex;
    padding: 5px;
    justify-content: center;
  }
}
