header {
  display: flex;
  flex-wrap: wrap;
  background-color: #401909;
  align-items: center;
  justify-content: space-between;
}

#logo-grande {
  height: 50px;
  margin: 0px;
  background-color: white;
  text-align: left;
}

#search-bar {
  display: flex;
  font-size: 14px;
}

#item-form-search-bar {
  display: flex;
  position: relative;
}

#recuadro-search-bar {
  border-radius: 15px;
  height: 25px;
  width: 270px;
  text-align: center;
  border: none;
}

#icono-lupa {
  color: #401909;
  position: absolute;
  left: 245px;
  top: 25%;
}

#iconos-header {
  display: flex;
  color: white;
  font-size: 1.5em;
  width: 30%;
  text-align: right;
}

#main-navbar {
  background-color: #401909;
  width: 100%;
}
