#header_superior {
  display: flex;
  flex-wrap: wrap;
  background-color: #401909;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5px 5px 5px;
}

#header_superior figure {
  width: 50%;
  max-width: 170px;
}

#header_logo-grande {
  max-height: 50px;
  width: 100%;
  text-align: left;
}

#header_searchbar {
  display: flex;
  font-size: 14px;
  padding: 10px 0 5px 0;
  width: 100%;
  justify-content: center;
  order: 1;
}

#header_searchbar-items {
  width: 100%;
  display: flex;
  max-width: 375px;
}

#header_searchbar-items button {
  background-color: #fff;
  padding: 5px;
  border-radius: 0 15px 15px 0;
}

#header_searchbar-recuadro {
  border-radius: 15px 0 0 15px;
  padding: 5px;
  width: 100%;
  text-align: center;
  border: none;
  flex-grow: 0.7;
}

#header_searchbar-icono {
  color: #401909;
}

#header_navbar {
  display: flex;
  color: white;
  font-size: 1.5em;
  width: 30%;
  justify-content: flex-end;
}

#header_navbar i {
  display: flex;
  padding: 0 12px 0 12px;
}

#main_navbar {
  display: flex;
  background-color: #742d1c;
  color: white;
  padding: 3px 0 3px 0;
  width: 100%;
  justify-content: space-around;
  font-family: Alegreya Sans, sans-serif;
}

.header_icono-texto {
  font-size: 10px;
  display: none;
  font-family: Alegreya Sans, sans-serif;
}
