@media (min-width: 769px) {
  #header_logo-grande {
    height: 60px;
  }

  #header_searchbar {
    padding: 10px 0 15px 0;
  }

  #header_searchbar-recuadro {
    width: 380px;
  }

  #header_searchbar-icono {
    left: 355px;
  }

  #header_navbar {
    order: 1;
    width: 100px;
  }

  #header_navbar i {
    padding: 0 18px 0 18px;
  }

  #header_navbar a {
    text-align: center;
    padding: 5px;
    justify-content: center;
  }

  #header_icono a {
    padding: 5px 0 0 0;
  }

  #main_navbar {
    font-size: 20px;
  }

  #header_icono-texto {
    display: flex;
  }

  #header_inicio:hover {
    transform: scale(1.1);
  }

  #header_inicio {
    transition: all 0.8s;
  }

  #header_productos:hover {
    transform: scale(1.1);
  }

  #header_productos {
    transition: all 0.8s;
  }

  #header_contacto:hover {
    transform: scale(1.1);
  }

  #header_contacto {
    transition: all 0.8s;
  }

}
