@media (min-width: 500px) {
  #header_searchbar {
    padding: 10px 2px 15px 2px;
    width: 40%;
    flex-grow: 0.8;
  }

  #header_searchbar-items {
    max-width: 450px;
  }

  #header_navbar {
    order: 1;
    width: auto;
  }

  #header_navbar a {
    display: flex;
    padding: 5px;
    justify-content: center;
  }

  .header_icono-texto {
    display: flex;
  }
}
