main {
  text-align: center;
  font-family: Alegreya Sans, sans-serif;
}

#banner {
  margin: 0;
  width: 100vw;
  height: 15vw;
  object-fit: cover;
  object-position: 0% 27% ;
}

.grilla {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 10px;
  row-gap: 10px;
  margin-bottom: 10px;
  margin: auto;

}

.grilla h2 {
  color: #fff;
  background-color: #401909;
}

.articulos {
  border: 1px solid #000;
  font-family: Bitter, serif;
  margin-bottom: 10px;
}

.articulos img {
  height: 100vw;
}

.textoProductos {
  background-color: #423e03;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.textoProductos h4 {
  width: 100%;
  padding: 4px 0;
}

.textoProductos a {
  background-color: #fff;
  color: #000;
  border-radius: 6px;
  font-weight: 700;
  padding: 5px;
  width: 80px;
  margin-bottom: 6px;
  border: 1px solid #000;
}
