main {
  text-align: center;
  font-family: Alegreya Sans, sans-serif;
}

#main_banner {
  margin: 0;
  width: 100vw;
  height: 15vw;
  object-fit: cover;
  object-position: 0% 27%;
  max-width: 100%;
}

.main_grilla {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 10px;
  row-gap: 10px;
  margin-bottom: 10px;
  margin: auto;
  max-width: 300px;
}

.main_grilla h2 {
  color: #fff;
  background-color: #401909;
  font-size: 20px;
}

.main_articulos {
  border: 1px solid #000;
  font-family: Bitter, serif;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #423e03;
  column-gap: 10%;
  align-items: center;
}

.main_articulos figure {
  width: 100%;
  background-color: #fff;
}

.main_articulos img {
  height: 100vw;
  max-height: 300px;
}

.main_articulos-texto {
  width: 100%;
  padding: 4px 0;
  color: #fff;
}

.main_articulos-texto-tachado {
  text-decoration: line-through;
  color: #d3d3d3;
  font-size: 14px;
}

.articulos_boton {
  background-color: #fff;
  border-radius: 6px;
  font-weight: 700;
  padding: 5px;
  width: 80px;
  margin-bottom: 6px;
  border: 1px solid #000;
  font-family: Bitter, serif;
}
