@media (min-width: 650px) {

  article {
     display: flex;
     padding: 10px 0 10px 0;
  }
 
  .texto {
     width: 140px;
  }
 
  #caja-register-titulo {
     width: 60%;
  }
 
  #register {
     width: 60%;
  }
 
  .campo-register {
     width: 230px;
  }

  #texto-crear-cuenta {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 50%;
  }

  #login {
      flex-wrap: nowrap;
      justify-content: space-between;
      height: 250px;
  }

  #form-login {
      width: 50%;
      height: 100px;
  }

  #boton-crear-cuenta {
      display: none;
  }

  #boton-crear-cuenta-tablet {
      display: block;
  }

  #ingresar {
    width: 50%;
  }

  #botonera {
    height: 100px;
  }

  #campos {
    display: block;
  }

  main {
    height: 480px;
  }

  .campo-login{
    width: 100%;
  }

  #texto-olvidaste-contraseña {
    justify-content: right;
    padding: 0;
  }

  #recordar-contraseña {
    justify-content: right;
  }
}