@media (min-width: 650px) {
  article {
    display: flex;
    padding: 10px 0 10px 0;
    justify-content: space-around;
  }

  .texto {
    width: 150px;
  }

  #caja-register-titulo {
    width: 60%;
  }

  #register {
    width: 60%;
  }

  .campo-register {
    width: 230px;
  }
}
