@media (min-width: 650px) {

 #titulo-registro{
   width: 60%;
 }

 #register{
   width: 60%;
 }

 article {
   display: flex;
   justify-content: space-around;
 }

.texto {
   width: 30%;
}

.cuadro-register {
   width: 200px;
}

}