.main {
   display: flex;
   justify-content: center;
}

#titulo-registro {
   background-color: #401909;
   color: white;
   width: 95%;
   margin: 20px 5px 0 5px;
   text-align: center;
   font-size: 25px;
   font-weight: normal;
   border: solid 1px black;
   font-family: Alegreya Sans, sans-serif;
}

.register {
   background-color: #742d1c;
   width: 95%;
   padding: 10px;
   margin: 0 5px 20px 5px;
   border: solid 1px black;
   font-size: 12px;
}

article {
   display: block;
   padding: 0 0 10px 0;
}

.recuadro-register {
   border-radius: 10px;
   width: 325px;
   height: 25px;
   text-align: center;
   border: none;
}

.texto {
   display: flex;
   color: white;
   font-size: 15px;
   padding: 0 0 3px 0;
   font-family: Alegreya Sans, sans-serif;
}

#botonera {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

#crear-cuenta {
   width: 80%;
   padding: 10px;
   margin: 20px 0 25px 0;
   font-size: 20px;
   font-weight: bold;
   border-radius: 5px;
   border: none;
   font-family: Alegreya Sans, sans-serif;
}

#iniciar-sesion {
   width: 50%;
   font-size: 15px;
   border-radius: 5px;
   border: none;
   font-family: Alegreya Sans, sans-serif;
}



