<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <main>
      <h2 id="main_titulo">
        Para ingresar al sitio debes ser mayor de 18 años
      </h2>
      <figure>
        <img src="/logo/CAVA-WINES-LOGO-GRANDE-BN.svg" alt="Logo grande" />
      </figure>
      <section id="main_botones">
        <form action="/agecheck" method="post">
          <button type="submit" class="main_botones-boton">
            Si, soy mayor de edad
          </button>
        </form>
        <button onclick="history.back()" class="main_botones-boton">
          No, no soy mayor de edad
        </button>
      </section>
    </main>
  </body>
</html>
