<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&family=Bitter:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <link rel="stylesheet" href="css/general.css" />
  <link rel="stylesheet" href="css/age-mobile.css" />
  <link rel="stylesheet" href="css/age-tablet.css" />
  <link rel="stylesheet" href="css/age-desktop.css" />
  <title>Cava Wines</title>
  <link rel="shortcut icon" href="logo/CAVA-WINES-LOGO-CHICO-BN.svg" />
  <body>
    <main>
      <h2 id="main_titulo">
        Para ingresar al sitio debes ser mayor de 18 años
      </h2>
      <figure>
        <img src="/logo/CAVA-WINES-LOGO-GRANDE-BN.svg" alt="Logo grande" />
      </figure>
      <section id="main_botones">
        <form action="/">
          <button type="button" class="main_botones-boton">
            Si, soy mayor de edad
          </button>
        </form>
        <button onclick="history.back()" class="main_botones-boton">
          No, no soy mayor de edad
        </button>
      </section>
    </main>
  </body>
</html>
