<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&family=Bitter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/general.css" />
    <link rel="stylesheet" href="css/header-mobile.css" />
    <link rel="stylesheet" href="css/header-tablet.css" />
    <link rel="stylesheet" href="css/header-desktop.css" />
    <link rel="stylesheet" href="css/cart-mobile.css" />
    <link rel="stylesheet" href="css/cart-tablet.css" />
    <link rel="stylesheet" href="css/cart-desktop.css" />
    <link rel="stylesheet" href="css/footer-mobile.css" />
    <link rel="stylesheet" href="css/footer-desktop.css" />
    <title>Cava Wines</title>
    <link rel="shortcut icon" href="logo/CAVA-WINES-LOGO-CHICO-BN.svg" />
  </head>
  <body>
    <header>
      <section id="header-superior">
        <img
          id="logo-grande"
          src="/logo/CAVA-WINES-LOGO-GRANDE-BN.svg"
          alt="CW Cava Wines"
        />

        <form id="search-bar" action="/search" method="get">
          <div id="search-bar-items">
            <input
              id="recuadro-search-bar"
              type="text"
              name="search"
              placeholder="¡Busca tus vinos!"
            />
            <i id="icono-lupa" class="fa-solid fa-magnifying-glass"></i>
          </div>
        </form>

        <nav id="header-navbar">
          <div>
            <i class="fa-solid fa-cart-shopping"></i>
            <a href="http://localhost:3000/carrito">Mi Carrito</a>
          </div>
          <div>
            <i class="fa-solid fa-user"></i>
            <a href="http://localhost:3000/user">Mi Cuenta</a>
          </div>
        </nav>
      </section>

      <nav id="main-navbar">
        <a href="/home.">Inicio</a>
        <a href="/productos">Productos</a>
        <a href="/contacto">Contacto</a>
      </nav>
    </header>

    <main>
      <img src="images/banner.jpg" alt="banner" id="banner" />
      <section id="carrito">
        <h2>CARRITO DE COMPRAS</h2>
        <!--Productos del carrito de compras-->
        <section id="productos">
          <article class="articulos">
            <img src="images/malbec-roble.jpg" alt="malbec roble" />
            <section class="textoProductos">
              <h4 class="nombreProducto">Terravita Malbec Roble Organico</h4>
              <p>Malbec Roble</p>
              <p>Maipu Mendoza</p>
              <a href="" id="sumaResta">- 1 +</a>
            </section>
            <a href=""><i class="fa-solid fa-trash-can tachoProductos"></i></a>
            <h4 class="precio">$6087</h4>
          </article>
          <article class="articulos">
            <img src="images/cabernet-sauvignon.jpg" alt="cabernet sauvignon" />
            <section class="textoProductos">
              <h4 class="nombreProducto">Terravita Cabernet Sauvignon</h4>
              <p>Cabernet Sauvignon</p>
              <p>Maipu Mendoza</p>
              <a href="" id="sumaResta">- 1 +</a>
            </section>
            <a href=""><i class="fa-solid fa-trash-can tachoProductos"></i></a>
            <h4 class="precio">$5072</h4>
          </article>
          <article class="articulos">
            <img src="images/malbec.jpg" alt="malbec" />
            <section class="textoProductos">
              <h4 class="nombreProducto">Terravita Malbec</h4>
              <p>Malbec</p>
              <p>Maipu Mendoza</p>
              <a href="" id="sumaResta">- 1 +</a>
            </section>
            <a href=""><i class="fa-solid fa-trash-can tachoProductos"></i></a>
            <h4 class="precio">$5072</h4>
          </article>
        </section>
        <!--Ventana con el total de la compra-->
        <section id="compraTotal">
          <h3 id="nombreProducto">RESUMEN DE COMPRAS</h3>
          <!--Elección del tipo de envio-->
          <form action="/cart" method="get">
            <fieldset id="envio">
              <label for="envio" id="selector"
                >Seleccione el tipo de envio</label
              ><br />
              <input
                type="radio"
                name="envio"
                id="domicilio"
                value="domicilio"
              />
              <label for="domicilio">Envio a domicilio</label> <br />
              <input type="radio" name="envio" id="tienda" value="domicilio" />
              <label for="domicilio">Retiro en tienda</label>
            </fieldset>
          </form>

          <section id="totalCompra">
            <h4 id="total">Total: $16.231</h4>
            <a href="" id="botonCompra">Iniciar compra</a>
            <a href="/search" id="botonSeguirComprando">Seguir comprando</a>
          </section>
        </section>
      </section>
    </main>

    <footer>
      <img
        src="/logo/CAVA-WINES-LOGO-CHICO-BN.svg"
        alt="logo-chico"
        id="logo-chico"
      />
      <nav id="sitebar-footer">
        <a href="">Inicio</a>
        <a href="">Productos</a>
      </nav>
      <nav id="contacto-footer">
        <h4>Contactos</h4>
        <a href="/contacto"><i class="fa-solid fa-envelope"></i></a>
        <a href="/contacto"><i class="fa-solid fa-location-dot"></i></a>
        <a href="/contacto"><i class="fa-solid fa-phone"></i></a>
      </nav>
      <nav id="redes-footer">
        <h4>Redes</h4>
        <a href="/"><i class="fa-brands fa-facebook"></i></a>
        <a href="/"><i class="fa-brands fa-whatsapp"></i></a>
        <a href="/"><i class="fa-brands fa-instagram"></i></a>
        <a href="/"><i class="fa-brands fa-twitter"></i></a>
      </nav>
    </footer>
  </body>
</html>
