<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <header><%- include('./partials/header.ejs') %></header>
    <main>
      <figure><img src="/images/banner.jpg" alt="banner" id="banner" /></figure>
      <section id="caja-contacto">
        <h2 id="titulo">CONTACTO</h2>
        <section id="caja-contacto-datos">
          <a href="mailto:info@cavawines.com"
            ><i class="fa-solid fa-envelope"></i> info@cavawines.com</a
          >
          <a href="https://frinkiac.com/caption/S12E18/1068109"
            ><i class="fa-solid fa-location-dot"></i> Calle Falsa 123,
            Sprinfield, Bs. As.</a
          >
          <a href="tel:+5411-5555-5555"
            ><i class="fa-solid fa-phone"></i> +5411-5555-5555</a
          >
        </section>
        <section id="caja-contacto-separador"></section>
        <section id="caja-contacto-redes">
          <a href="https://www.facebook.com/cava.wines.35"
            ><i class="fa-brands fa-facebook"></i> CAVA WINES</a
          >
          <a href="/https://wa.me/54955555555"
            ><i class="fa-brands fa-whatsapp"></i> +54911-5555-5555</a
          >
          <a href="https://www.instagram.com/cavawines/"
            ><i class="fa-brands fa-instagram"></i> CAVA WINES</a
          >
          <a href="https://twitter.com/cavawines"
            ><i class="fa-brands fa-twitter"></i> CAVA WINES</a
          >
        </section>
      </section>
    </main>
    <footer><%- include('./partials/footer.ejs') %></footer>
  </body>
</html>
