<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&family=Bitter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/general.css" />
    <link rel="stylesheet" href="css/header-mobile.css" />
    <link rel="stylesheet" href="css/header-desktop.css" />
    <link rel="stylesheet" href="css/home-mobile.css" />
    <link rel="stylesheet" href="css/home-tablet.css" />
    <link rel="stylesheet" href="css/home-desktop.css" />
    <link rel="stylesheet" href="css/footer-mobile.css" />
    <link rel="stylesheet" href="css/footer-desktop.css" />

    <title>Cava Wines</title>
  </head>
  <body>
    <header>
            <img
              id="logo-grande"
              src="/logo/CAVA-WINES-LOGO-CHICO-BN.svg"
              alt="CW Cava Wines"
            />
            <form id="search-bar" action="/search" method="post">  
                <input
                    id="recuado-search-bar"  
                    type="text"
                    name="usuario"
                    placeholder="Busca tus vinos!"
                />
                <i id="icono-lupa" class="fa-solid fa-magnifying-glass"></i>               
            </form>
            <nav id="iconos-header">
                <i class="fa-solid fa-cart-shopping"></i>
                <i class="fa-solid fa-user"></i>
            </nav>
            <nav id="main-navbar">
                <a href="http://localhost:3000/home">Inicio</a>
                <a href="http://localhost:3000/productos">Productos</a>
                <a href="http://localhost:3000/contacto">Contacto</a>
            </nav>
    </header>




    <main>
      <section id="banner">
        <img src="" alt="banner" />
      </section>
      <section>
        <h2>Ofertas</h2>
        <article class="articulos">
          <img src="images/cabernet-sauvignon.jpg" alt="cabernet sauvignon" />
          <section class="textoProductos">
            <h4 class="nombreProducto">Terravita Cabernet Sauvignon</h4>
            <h4 class="precio">$5072</h4>
            <a href="" class="botonArticulo">Comprar</a>
            <a href="" class="botonArticulo">+Info</a>
          </section>
        </article>
        <article class="articulos">
          <img src="images/malbec-roble.jpg" alt="malbec roble" />
          <section class="textoProductos">
            <h4 class="nombreProducto">Terravita Malbec Roble</h4>
            <h4 class="precio">$6087</h4>
            <a href="" class="botonArticulo">Comprar</a>
            <a href="" class="botonArticulo">+Info</a>
          </section>
        </article>
        <article class="articulos">
          <img src="images/malbec-sin-sulfito.jpg" alt="malbec-sin-sulfito" />
          <section class="textoProductos">
            <h4 class="nombreProducto">Terravita Malbec sin Sulfito</h4>
            <h4 class="precio">$5580</h4>
            <a href="" class="botonArticulo">Comprar</a>
            <a href="" class="botonArticulo">+Info</a>
          </section>
        </article>
        <article class="articulos">
          <img src="images/malbec.jpg" alt="malbec" />
          <section class="textoProductos">
            <h4 class="nombreProducto">Terravita Malbec</h4>
            <h4 class="precio">$5072</h4>
            <a href="" class="botonArticulo">Comprar</a>
            <a href="" class="botonArticulo">+Info</a>
          </section>
        </article>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
