<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&family=Bitter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/general.css" />
    <link rel="stylesheet" href="css/header-mobile.css" />
    <link rel="stylesheet" href="css/header-tablet.css" />
    <link rel="stylesheet" href="css/header-desktop.css" />
    <link rel="stylesheet" href="css/home-mobile.css" />
    <link rel="stylesheet" href="css/home-tablet.css" />
    <link rel="stylesheet" href="css/home-desktop.css" />
    <link rel="stylesheet" href="css/footer-mobile.css" />
    <link rel="stylesheet" href="css/footer-desktop.css" />
    <title>Cava Wines</title>
    <link rel="shortcut icon" href="logo/CAVA-WINES-LOGO-CHICO-BN.svg" />
  </head>
  <body>
    <header>
      <section id="header-superior">
        <img
          id="logo-grande"
          src="/logo/CAVA-WINES-LOGO-GRANDE-BLANCO.svg"
          alt="CW Cava Wines blanco"
        />

        <form id="search-bar" action="/search" method="get">
          <div id="search-bar-items">
            <input
              id="recuadro-search-bar"
              type="text"
              name="search"
              placeholder="¡Busca tus vinos!"
            />
            <i id="icono-lupa" class="fa-solid fa-magnifying-glass"></i>
          </div>
        </form>

        <nav id="header-navbar">
          <div>
            <i class="fa-solid fa-cart-shopping"></i>
            <a href="/cart">Mi Carrito</a>
          </div>
          <div>
            <i class="fa-solid fa-user"></i>
            <a href="/login">Mi Cuenta</a>
          </div>
        </nav>
      </section>

      <nav id="main-navbar">
        <a href="/">Inicio</a>
        <a href="/search">Productos</a>
        <a href="/contacto">Contacto</a>
      </nav>
    </header>

    <main>
      <img src="images/banner.jpg" alt="banner" id="banner" />
      <section class="grilla">
        <h2>OFERTAS</h2>
        <article class="articulos">
          <img src="images/cabernet-sauvignon.jpg" alt="cabernet sauvignon" />
          <section class="textoProductos">
            <h4 class="nombreProducto">Terravita Cabernet Sauvignon</h4>
            <h4 class="precio">$5072</h4>
            <a href="" class="botonArticulo">Comprar</a>
            <a href="/product" class="botonArticulo">+Info</a>
          </section>
        </article>
        <article class="articulos">
          <img src="images/malbec-roble.jpg" alt="malbec roble" />
          <section class="textoProductos">
            <h4 class="nombreProducto">Terravita Malbec Roble</h4>
            <h4 class="precio">$6087</h4>
            <a href="" class="botonArticulo">Comprar</a>
            <a href="/product" class="botonArticulo">+Info</a>
          </section>
        </article>
        <article class="articulos">
          <img src="images/malbec-sin-sulfito.jpg" alt="malbec-sin-sulfito" />
          <section class="textoProductos">
            <h4 class="nombreProducto">Terravita Malbec sin Sulfito</h4>
            <h4 class="precio">$5580</h4>
            <a href="" class="botonArticulo">Comprar</a>
            <a href="/product" class="botonArticulo">+Info</a>
          </section>
        </article>
        <article class="articulos">
          <img src="images/malbec.jpg" alt="malbec" />
          <section class="textoProductos">
            <h4 class="nombreProducto">Terravita Malbec</h4>
            <h4 class="precio">$5072</h4>
            <a href="" class="botonArticulo">Comprar</a>
            <a href="/product" class="botonArticulo">+Info</a>
          </section>
        </article>
        <h2>NOVEDADES</h2>
        <article class="articulos">
          <img src="images/cabernet-sauvignon.jpg" alt="cabernet sauvignon" />
          <section class="textoProductos">
            <h4 class="nombreProducto">Terravita Cabernet Sauvignon</h4>
            <h4 class="precio">$5072</h4>
            <a href="" class="botonArticulo">Comprar</a>
            <a href="/product" class="botonArticulo">+Info</a>
          </section>
        </article>
        <article class="articulos">
          <img src="images/malbec-roble.jpg" alt="malbec roble" />
          <section class="textoProductos">
            <h4 class="nombreProducto">Terravita Malbec Roble</h4>
            <h4 class="precio">$6087</h4>
            <a href="" class="botonArticulo">Comprar</a>
            <a href="/product" class="botonArticulo">+Info</a>
          </section>
        </article>
        <article class="articulos">
          <img src="images/malbec-sin-sulfito.jpg" alt="malbec-sin-sulfito" />
          <section class="textoProductos">
            <h4 class="nombreProducto">Terravita Malbec sin Sulfito</h4>
            <h4 class="precio">$5580</h4>
            <a href="" class="botonArticulo">Comprar</a>
            <a href="/product" class="botonArticulo">+Info</a>
          </section>
        </article>
        <article class="articulos">
          <img src="images/malbec.jpg" alt="malbec" />
          <section class="textoProductos">
            <h4 class="nombreProducto">Terravita Malbec</h4>
            <h4 class="precio">$5072</h4>
            <a href="" class="botonArticulo">Comprar</a>
            <a href="/product" class="botonArticulo">+Info</a>
          </section>
        </article>
      </section>
    </main>

    <footer>
      <img
        src="/logo/CAVA-WINES-LOGO-CHICO-BLANCO.svg"
        alt="logo-chico"
        id="logo-chico"
      />
      <nav id="sitebar-footer">
        <a href="/">Inicio</a>
        <a href="/search">Productos</a>
      </nav>
      <nav id="contacto-footer">
        <h4>Contactos</h4>
        <a href="/contact"><i class="fa-solid fa-envelope"></i></a>
        <a href="/contact"><i class="fa-solid fa-location-dot"></i></a>
        <a href="/contact"><i class="fa-solid fa-phone"></i></a>
      </nav>
      <nav id="redes-footer">
        <h4>Redes</h4>
        <a href="/contact"><i class="fa-brands fa-facebook"></i></a>
        <a href="/contact"><i class="fa-brands fa-whatsapp"></i></a>
        <a href="/contact"><i class="fa-brands fa-instagram"></i></a>
        <a href="/contact"><i class="fa-brands fa-twitter"></i></a>
      </nav>
    </footer>
  </body>
</html>
