<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&family=Bitter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/general.css" />
    <link rel="stylesheet" href="css/header-mobile.css" />
    <link rel="stylesheet" href="css/header-tablet.css" />
    <link rel="stylesheet" href="css/header-desktop.css" />
    <link rel="stylesheet" href="css/register-mobile.css" />
    <link rel="stylesheet" href="css/register-tablet.css" />
    <link rel="stylesheet" href="css/register-desktop.css" />
    <link rel="stylesheet" href="css/footer-mobile.css" />
    <link rel="stylesheet" href="css/footer-desktop.css" />
    <title>Cava Wines</title>
    <link rel="shortcut icon" href="logo/CAVA-WINES-LOGO-CHICO-BN.svg" />
  </head>
  <body>
    <header>
      <section id="header-superior">
        <img
          id="logo-grande"
          src="/logo/CAVA-WINES-LOGO-GRANDE-BLANCO.svg"
          alt="CW Cava Wines blanco"
        />

        <form id="search-bar" action="/search" method="get">
          <div id="search-bar-items">
            <input
              id="recuadro-search-bar"
              type="text"
              name="search"
              placeholder="¡Busca tus vinos!"
            />
            <i id="icono-lupa" class="fa-solid fa-magnifying-glass"></i>
          </div>
        </form>

        <nav id="header-navbar">
          <div>
            <i class="fa-solid fa-cart-shopping"></i>
            <a href="/cart">Mi Carrito</a>
          </div>
          <div>
            <i class="fa-solid fa-user"></i>
            <a href="/login">Mi Cuenta</a>
          </div>
        </nav>
      </section>

      <nav id="main-navbar">
        <a href="/">Inicio</a>
        <a href="/search">Productos</a>
        <a href="/contacto">Contacto</a>
      </nav>
    </header>

    <main>
      <section id="caja-register">
        <h1 id="caja-register-titulo">REGISTRO</h1>
        <form id="register" action="/register" method="post">
          <section>
            <article>
              <label for="nombre" class="texto">Nombre: </label>
              <input type="text" name="nombre" class="campo-register" />
            </article>

            <article>
              <label for="apellido" class="texto">Apellido: </label>
              <input type="text" name="apellido" class="campo-register" />
            </article>

            <article>
              <label for="email" class="texto">E-Mail: </label>
              <input type="text" name="email" class="campo-register" />
            </article>

            <article>
              <label for="clave" class="texto">Contraseña: </label>
              <input type="password" name="clave" class="campo-register" />
            </article>

            <article>
              <label for="clave-confirmada" class="texto"
                >Confirmar contraseña:
              </label>
              <input
                type="password"
                name="clave-confirmada"
                class="campo-register"
              />
            </article>

            <article>
              <label for="fechaUser" class="texto">Fecha de nacimiento: </label>
              <input
                type="date"
                name="fechaUser"
                id="fechaUser"
                class="campo-register"
              />
            </article>

            <section id="botonera">
              <button id="crear-cuenta" type="button">
                <a class="boton-principal" href=" ">Crear cuenta</a>
              </button>
              <button id="iniciar-sesion" type="reset">Iniciar sesion</button>
            </section>
          </section>
        </form>
      </section>
    </main>

    <footer>
      <img
        src="/logo/CAVA-WINES-LOGO-CHICO-BLANCO.svg"
        alt="logo-chico"
        id="logo-chico"
      />
      <nav id="sitebar-footer">
        <a href="/">Inicio</a>
        <a href="/search">Productos</a>
      </nav>
      <nav id="contacto-footer">
        <h4>Contactos</h4>
        <a href="/contact"><i class="fa-solid fa-envelope"></i></a>
        <a href="/contact"><i class="fa-solid fa-location-dot"></i></a>
        <a href="/contact"><i class="fa-solid fa-phone"></i></a>
      </nav>
      <nav id="redes-footer">
        <h4>Redes</h4>
        <a href="/contact"><i class="fa-brands fa-facebook"></i></a>
        <a href="/contact"><i class="fa-brands fa-whatsapp"></i></a>
        <a href="/contact"><i class="fa-brands fa-instagram"></i></a>
        <a href="/contact"><i class="fa-brands fa-twitter"></i></a>
      </nav>
    </footer>
  </body>
</html>
