@media (min-width: 650px) {
  .login_linea-form {
    display: flex;
    padding: 10px 0 10px 0;
  }

  .login_texto {
    width: 140px;
  }

  #login_caja {
    max-width: 800px;
  }  #login_caja {
    max-width: 800px;
  }

  #login_crear-cuenta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
  }

  #login {
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 250px;
  }

  #login_form {
    width: 50%;
    height: 100px;
  }

  #login_botonera-crear-cuenta {
    display: none;
  }

  #login_botonera-crear-cuenta-tablet {
    display: block;
    background-color: white;
    text-align: center;
    height: 55px;
  }

  #login_botonera {
    height: 100px;
  }

  #login_campos {
    display: block;
  }

  main {
    height: 480px;
  }

  .login_campos {
    width: 100%;
  }

  #login_olvidaste-contraseña {
    justify-content: right;
    padding: 0;
  }

  #login_recordar-contraseña {
    justify-content: right;
  }

  #login_botonera-ingresar:focus {
    background-color: hsla(56, 91%, 14%, 0.9);
    color: #ffffff;
  }
  
  #login_botonera-ingresar:hover {
    transform: scale(1.1);
  }

  #login_botonera-ingresar {
    width: 50%;
    transition: all 0.8s;
  }

  #login_botonera-crear-cuenta-tablet:focus {
    background-color: hsla(56, 91%, 14%, 0.9);
    color: #ffffff;
  }
  
  #login_botonera-crear-cuenta-tablet:hover {
    transform: scale(1.1);
  }

  #login_botonera-crear-cuenta-tablet {
    width: 50%;
    transition: all 0.8s;
  }

}
