@media (min-width: 720px) {
  .register_caja-linea-form {
    display: flex;
    padding: 10px 0 10px 0;
    justify-content: space-around;
  }

  .register_texto {
    width: 160px;
  }

  #register_caja-titulo {
    width: 60%;
  }

  #register {
    width: 60%;
  }

  .register_campo {
    width: 280px;
  }

  #register_caja {
    max-width: 1000px;
    margin: auto;
  }

  #register_botonera-crear-cuenta {
    transition: transform 0.5s, background-color 0.2s, color 0.2s;
  }

  #register_botonera-crear-cuenta:hover {
    transform: scale(1.1);
  }

  #register_botonera-crear-cuenta:focus {
    background-color: hsla(0, 0%, 70%, 0.9);
    color: #ffffff;
  }

  #register_botonera-iniciar-sesion {
    transition: transform 0.5s, background-color 0.2s, color 0.2s;
  }

  #register_botonera-iniciar-sesion:hover {
    transform: scale(1.1);
  }

  #register_botonera-iniciar-sesion:focus {
    background-color: hsla(0, 0%, 70%, 0.9);
    color: #ffffff;
  }
}
