@media (min-width: 650px) {
  .register_caja-linea-form {
    display: flex;
    padding: 10px 0 10px 0;
    justify-content: space-around;
  }

  .register_texto {
    width: 150px;
  }

  #register_caja-titulo {
    width: 60%;
  }

  #register {
    width: 60%;
  }

  .register_campo {
    width: 230px;
  }
}
