@media (min-width: 720px) {
  .register_caja-linea-form {
    display: flex;
    padding: 10px 0 10px 0;
    justify-content: space-around;
  }

  .register_texto {
    width: 160px;
  }

  #register_caja-titulo {
    width: 60%;
  }

  #register {
    width: 60%;
  }

  .register_campo {
    width: 280px;
  }

  #register_caja {
    max-width: 1000px;
    margin: auto;
  }
}
