:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

h1 {
  font-size: 1.2em;
  line-height: 1.1;
}

h2 {
  font-size: 1em;
}

/* ===== DATOS RESUMEN ===== */

#dashboard_datos-resumen {
  display: flex;
}

#dashboard_datos-resumen p{
  padding: 0 10px 0 10px;
  margin: 5px;
}

/* ===== DATOS ULTIMOS CREADOS ===== */

#dashboard_caja-ultimos {
  display: flex;
}

.dashboard_subcaja-datos {
  background-color: black;
  display: flex;
  margin: 10px;
  width: 100%;
  border-radius: 10px;
  justify-content: center;
}

.dashboard_subcaja-ultimo {
  background-color: black;
  display: block;
  margin: 10px;
  width: 50%;
  border-radius: 10px;
}

.dashboard_subcaja-ultimo h2 {
  color: green;
  font-size: 16px;
  padding: 0 10px 0 10px;
  margin: 5px 0 0 0;
}

.dashboard_subcaja-ultimo p {
  color: red;
  font-size: 16px;
  margin: 0 0 0 0;
  padding: 0 10px 0 10px;
}

/* ===== LISTADOS CAJA MADRE ===== */

#dashboard_caja-madre-listados{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* ===== LISTADO USUARIOS ===== */

#dashboard_caja-listado-usuarios {
  margin: 10px;
  width: 35%;
}

#dashboard_caja-listado-usuarios h3{
  text-align: center;
}

#dashboard_caja-listado-usuarios p{
  margin: 5px 10px 5px 10px;
  font-size: 12px;
}

#dashboard_caja-listado-usuarios div{
  width: 75%;
}

#dashboard_caja-listado-usuarios img{
  width: 100px;
  height: 100px;
  margin: 10px 0px 0px 0px;
  border-radius: 10px;
}

#dashboard_caja-listado-usuarios article{
  margin: 5px 0px 5px 0px;
  background-color: black;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}

#botonera{
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 5px 3px 5px 3px;
}

#botonera button{
  width: 25%;
  height: 10%;
}

#botonera p{
  padding: 0 20px 0 20px;
  margin: 0;
}

/* ===== LISTADO PRODUCTOS ===== */

#dashboard_caja-listado-productos {
  margin: 10px;
  width: 35%;
}

#dashboard_caja-listado-productos h3{
  text-align: center;
}

#dashboard_caja-listado-productos p{
  margin: 5px 10px 5px 10px;
  font-size: 12px;
}

#dashboard_caja-listado-productos div{
  width: 90%;
}

#dashboard_caja-listado-productos img{
  width: 35px;
  height: 100px;
  margin: 10px 0px 0px 0px;
  border-radius: 10px;
}

#dashboard_caja-listado-productos article{
  margin: 5px 0px 5px 0px;
  background-color: black;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}

#botonera{
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 5px 3px 5px 3px;
}

#botonera button{
  width: 25%;
  height: 10%;
}

#botonera p{
  padding: 0 20px 0 20px;
  margin: 0;
}
