:root {
  font-family: Alegreya Sans, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-color: #742d1c
}

a {
  font-weight: 500;
  color: white;

  text-decoration: inherit;
}

h1 {
  font-size: 30px;
  line-height: 1.1;
  text-align: center;
  margin: 6px;
  color: white;
  margin: 15px 0 15px 0;
}

h2 {
  font-size: 1em;
}

link{
  color:white;
}

/* ===== DATOS RESUMEN ===== */

#grafico{
  background-color: #260F09;
  width: 270px;
  height: 280px;
  padding: 10px;
  border-radius: 10px;
}

#dashboard_datos-resumen {
  display: flex;
  width: 100%;
  justify-content: center;
  color: white;
}

#dashboard_datos-caja-datos {
  display: flex;
}

.dashboard_subcaja-datos {
  background-color: #260F09;
  display: block;
  margin: 0 10px 0 10px;
  width: 110px;
  height: 100px;
  border-radius: 10px;
  justify-content: center;
}

.dashboard_subcaja-datos h4{
  margin: 15px;
  color: white;
  font-size: 12px;
  text-align: center;
}

.dashboard_subcaja-datos p{
  margin: 15px;
  font-size: 45px;
  text-align: center;
  color: white;
}

/* ===== DATOS ULTIMOS CREADOS ===== */

#dashboard_caja-ultimos {
  display: block;
}

.dashboard_subcaja-ultimo {
  background-color: #260F09;
  display: block;
  margin: 13px 10px 7px 10px;
  border-radius: 10px;
  padding: 5px;
}

.dashboard_subcaja-ultimo h2 {
  font-size: 14px;
  padding: 0 10px 0 10px;
  margin: 5px 0 0 0;
}

.dashboard_subcaja-ultimo p {
  color: white;
  font-size: 12px;
  margin: 0 0 0 0;
  padding: 0 10px 0 10px;
  justify-content: left;
}

/* ===== LISTADOS CAJA MADRE ===== */

#dashboard_caja-madre-listados{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* ===== LISTADO USUARIOS ===== */

#dashboard_caja-listado-usuarios {
  margin: 10px;
  width: 35%;
  color: white;
}

#dashboard_caja-listado-usuarios h3{
  text-align: center;
  margin: 3px;
}

#dashboard_caja-listado-usuarios p{
  margin: 5px 10px 5px 10px;
  font-size: 12px;
}

#dashboard_caja-listado-usuarios div{
  width: 65%;
}

#dashboard_caja-listado-usuarios img{
  display: flex;
  width: 100px;
  height: 100px;
  margin: 10px 10px 0px 0;
  border-radius: 10px;
  margin-left: auto;
  justify-content: flex-start;
}

#dashboard_caja-listado-usuarios article{
  margin: 5px 0px 5px 0px;
  background-color: #260F09;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

#botonera{
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 5px 3px 5px 3px;
}

/* ===== LISTADO PRODUCTOS ===== */

#dashboard_caja-listado-productos {
  margin: 10px;
  width: 35%;
  color: white
}

#dashboard_caja-listado-productos h3{
  text-align: center;
  margin: 3px;
}

#dashboard_caja-listado-productos p{
  margin: 5px 10px 5px 10px;
  font-size: 12px;
}

#dashboard_caja-listado-productos div{
  width: 70%;
}

#dashboard_caja-listado-productos img{
  display: flex;
  width: 30px;
  height: 100px;
  margin: 10px 10px 0px 0;
  border-radius: 10px;
  margin-left: auto;
  justify-content: flex-start;
}

#dashboard_caja-listado-productos article{
  margin: 5px 0px 5px 0px;
  background-color: #260F09;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

/* ===== BOTONERA LISTADOS ===== */

#botonera {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 5px 3px 5px 3px;
  background-color:#742d1c;
}

#botonera button{
  width: 40%;
  margin: 5px;
  font-weight: normal;
}

#botonera p{
  padding: 0 20px 0 20px;
  margin: 5px;
  font-size: 15px;
}
