#main_banner {
  margin: 0;
  width: 100vw;
  height: 15vw;
  object-fit: cover;
  object-position: 0% 27%;
  max-width: 100%;
}

#mainSection {
  width: 90%;
  margin: auto;
  text-align: center;
  font-family: Alegreya Sans, sans-serif;
}

#mainSection h2 {
  background-color: #401909;
  color: #fff;
  margin: 5px 0;
  font-family: Alegreya Sans, sans-serif;
  font-weight: normal;
}

.cart_products {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #000;
  position: relative;
  font-family: Bitter, serif;
  padding: 5px;
  margin: 5px 0;
  row-gap: 10px;
}

.cart_products figure {
  width: 30%;
}

.cart_products img {
  border: 1px solid #000;
  padding: 0 15%;
  height: 30vw;
  border: 1px solid #000;
}

.cart_products_text p {
  margin: 2px 0;
  font-size: 20px;
  font-family: Alegreya Sans, sans-serif;
}

.cart_products_text h4 {
  font-size: 30px;
  margin: 2px 0;
  font-family: Alegreya Sans, sans-serif;
}

.cart_products-price {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 4px 10px;
  margin: 0 0 5px 0;
  font-size: 26px;
}

.cart_products-button {
  display: flex;
  flex-flow: column wrap;
  margin: 50px 0 0 0;
  justify-content: space-between;
  align-items: center;
}

#producto_compra-precio {
  margin: 2px 0;
  width: 100%;
}

.cart_products-button-substractPlus {
  font-size: 20px;
  border: 1px solid #000;
  width: 80%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 2px 0px;
  margin: 5px auto;
}

.cart_products-button-substractPlus input {
  background-color: transparent;
  margin: 0 4px;
  font-size: 16px;
}

.cart_products-button-quantity {
  text-align: center;
  width: 80%;
}

.cart_products-button-cart {
  font-size: 20px;
  margin: 5px auto;
  padding: 4px 6px;
}

.cart_products-button-trash {
  position: absolute;
  top: 10px;
  right: 10px;
}

#total {
  border: 1px solid #000;
  font-family: Bitter, serif;
  margin: 5px 0;
  background-color: #742d1c;
}

#total h3 {
  background-color: #401909;
  color: #fff;
  font-family: Alegreya Sans, sans-serif;
  font-weight: normal;
  font-size: 25px;
}

#total_send {
  border: none;
  display: flex;
  flex-flow: wrap column;
  margin: 10px 0;
}

#total_send section {
  flex-basis: 100%;
}

#selector {
  font-weight: 500;
  color: white;
  font-family: Alegreya Sans, sans-serif;
  font-size: 20px;
}

#total_send label {
  flex-basis: 100%;
  margin: 2px 0;
}

#total_buy {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#total_buy-title {
  font-size: 30px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px 15px;
  background-color: white;
}

#total_buy-button-checkout {
  width: 100%;
  padding: 3px;
  margin-top: 8px;
  border: 1px solid #000;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  font-family: Alegreya Sans, sans-serif;
}

#total_buy-button-keepBuying {
  width: 180px;
  padding: 3px;
  margin: 0 0 10px 0;
  border: 1px solid #000;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  font-family: Alegreya Sans, sans-serif;
  background-color: white;
}

#tienda {
  margin: 10px 0 15px 0;
  color: white;
  font-family: Alegreya Sans, sans-serif;
  font-size: 20px;
}
#domicilio {
  margin: 15px 0 10px 0;
  color: white;
  font-family: Alegreya Sans, sans-serif;
  font-size: 20px;
}