#upload_caja {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#upload_caja-titulo {
  background-color: #401909;
  color: white;
  margin: 20px 0 0 0;
  text-align: center;
  font-size: 25px;
  font-weight: normal;
  border: solid 1px black;
  font-family: Alegreya Sans, sans-serif;
  width: 90%;
}

#upload {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #742d1c;
  padding: 10px;
  margin: 0 0 20px 0;
  border: solid 1px black;
  font-size: 12px;
  width: 90%;
  font-family: Bitter, serif;
}

.upload_linea-form {
  display: block;
  padding: 0 0 10px 0;
  justify-content: center;
  align-items: center;
}

.upload_campo {
  border-radius: 10px;
  width: 250px;
  height: 25px;
  text-align: center;
  border: none;
}

.upload_campo-descripcion {
  border-radius: 10px;
  width: 250px;
  height: 50px;
  text-align: center;
  border: none;
}

.upload_campo-imagen {
  width: 280px;
  height: 25px;
  text-align: center;
  border: none;
}

.upload_texto {
  display: flex;
  color: #fff;
  font-size: 17px;
  font-family: Alegreya Sans, sans-serif;
}

#upload_botonera {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

#upload_crear-producto {
  width: 80%;
  padding: 10px;
  margin: 20px auto 25px auto;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  font-family: Alegreya Sans, sans-serif;
}

.upload_titulos {
  color: white;
  font-size: 20px;
  padding: 0 0 5px 0;
  font-weight: normal;
  font-family: Alegreya Sans, sans-serif;
  text-align: center;
  padding: 10px 0 10px 0;
}

.create_msg-error {
  color: #fff;
  width: 100%;
  text-align: center;
  font-weight: bold;
  padding: 3px 0;
  font-family: Alegreya Sans, sans-serif;
}
