@media (min-width: 720px) {
  .upload_linea-form {
    display: flex;
    padding: 10px 0 10px 0;
    justify-content: space-around;
  }

  .upload_texto {
    width: 160px;
  }

  #upload_caja-titulo {
    width: 60%;
  }

  #upload {
    width: 60%;
  }

  .upload_campo {
    width: 280px;
  }

  .upload_campo-descripcion {
    width: 280px;
  }

  #upload_caja {
    max-width: 1000px;
    margin: auto;
  }

  #upload_crear-producto {
    transition: transform 0.5s, background-color 0.2s, color 0.2s;
  }

  #upload_crear-producto:hover {
    transform: scale(1.1);
  }

  #upload_crear-producto:focus {
    background-color: hsla(0, 0%, 70%, 0.9);
    color: #ffffff;
  }
}
