@media screen and (min-width: 361px) {
  #main_producto {
    margin: 10px 10%;
  }

  #main_producto figure {
    width: 70%;
  }

  #main_producto img {
    height: 50vw;
  }

  #producto_compra-boton {
    width: 50%;
    max-width: 300px;
  }

  #producto_compra-boton-carrito {
    width: 50%;
    max-width: 200px;
  }

  #producto_compra-boton-carrito-mobile {
    display: none;
  }

  #producto_compra-boton-carrito {
    width: 100%;
    margin: 3px auto;
  }

  .producto_compra-boton-carrito-texto {
    display: block;
    width: 80%;
    color: #fff;
    background-color: #742d1c;
    border-radius: 5px;
    padding: 8px 5px;
    margin: 5px auto;
  }

  #producto_compra-descripcion {
    margin: 10px 0;
    text-align: left;
  }

  #producto_compra-descripcion h4 {
    font-size: 20px;
}

  #producto_compra-nombre {
    font-size: 26px;
  }

}