main {
  text-align: center;
  font-family: Bitter, serif;
}

#main_banner {
  margin: 0;
  width: 100vw;
  height: 15vw;
  object-fit: cover;
  object-position: 0% 27%;
  max-width: 100%;
}

#main_producto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 10px 5%;
}

#main_producto figure {
  width: 100%;
  border: 1px solid #000;
}

#main_producto img {
  height: 100vw;
}

#producto_compra {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 2px;
  width: 80%;
}

#producto_compra-nombre {
  margin: 5px 0;
  font-size: 22px;
}

#producto_compra-precio {
  margin: 2px 0;
  font-size: 35px;
  width: 100%;
}

#producto_compra-boton-sumaResta {
  font-size: 20px;
  width: 80%;
  border: 1px solid #000;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 2px 0px;
  margin: 5px auto;
}

#producto_compra-boton-sumaResta input {
  background-color: transparent;
  margin: 0 4px 0 10px;
  font-size: 16px;
}

#producto_compra-boton-cantidad {
  text-align: center;
  width: 80%;
}

#producto_compra-boton-carrito-mobile {
  font-size: 20px;
  text-align: center;
  padding: 2px 10%;
}

.producto_compra-boton-carrito-texto {
  display: none;
}

#producto_compra-descripcion {
  margin: 10px 0;
}

#producto_compra-descripcion h4 {
  margin: 15px 0 10px 0;
}

#producto_compra-descripcion p {
  margin: 5px 0 5px 0;
}
