@media (min-width: 720px) {
  .edit_linea-form {
    display: flex;
    padding: 10px 0 10px 0;
    justify-content: space-around;
  }

  .edit_texto {
    width: 160px;
  }

  #edit_caja-titulo {
    width: 60%;
  }

  #edit_editar-producto {
    width: 60%;
  }

  #edit_eliminar-producto {
    width: 60%;
  }

  .edit_campo {
    width: 280px;
  }

  #edit_caja-imagen {
    width: 90%;
  }

  #edit_caja-imagen img {
    height: 350px;
  }

  #edit_caja-imagen p {
    font-size: 18px;
  }

  #edit_campo-descripcion {
    width: 280px;
  }

  #upload_caja {
    max-width: 1000px;
    margin: auto;
  }
  .edit_confirmar-edicion {
    transition: transform 0.5s, background-color 0.2s, color 0.2s;
  }

  .edit_confirmar-edicion:hover {
    transform: scale(1.1);
  }

  .edit_confirmar-edicion:focus {
    background-color: hsla(0, 0%, 70%, 0.9);
    color: #ffffff;
  }
}
