@media (min-width: 720px) {

  .edit_linea-form {
    display: flex;
    padding: 10px 0 10px 0;
    justify-content: space-around;
  }

  .edit_texto {
    width: 160px;
  }

  #edit_caja-titulo {
    width: 60%;
  }

  #edit {
    width: 60%;
  }

  .edit_campo {
    width: 280px;
  }

  #edit_campo-descripcion {
    width: 280px;
  }

  #upload_caja {
    max-width: 1000px;
    margin: auto;
  }
}

