#edit_caja {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#edit_caja-titulo {
  background-color: #401909;
  color: white;
  margin: 20px 0 0 0;
  text-align: center;
  font-size: 25px;
  font-weight: normal;
  border: solid 1px black;
  font-family: Alegreya Sans, sans-serif;
  width: 90%;
}

#edit {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #742d1c;
  padding: 10px;
  margin: 0 0 20px 0;
  border: solid 1px black;
  font-size: 12px;
  width: 90%;
  font-family: Bitter, serif;
}

.edit_linea-form {
  align-items: center;
}

.edit_campo {
  border-radius: 10px;
  width: 250px;
  padding: 5px;
  text-align: center;
  border: none;
}

#edit_campo-descripcion {
  border-radius: 10px;
  width: 250px;
  height: 50px;
  text-align: center;
  border: none;
}

#edit_campo-imagen {
  width: 280px;
  height: 25px;
  text-align: center;
  border: none;
}

.edit_texto {
  display: flex;
  color: #fff;
  font-size: 17px;
  font-family: Alegreya Sans, sans-serif;
}

#edit_botonera {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#edit_confirmar-edicion {
  width: 80%;
  padding: 10px;
  margin: 20px 0 25px 0;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  font-family: Alegreya Sans, sans-serif;
}

.edit_titulos {
  color: white;
  font-size: 20px;
  padding: 0 0 5px 0;
  font-weight: normal;
  font-family: Alegreya Sans, sans-serif;
  text-align: center;
  padding: 10px 0 10px 0;
}
