@media (min-width: 650px) {

  #upload-linea-form {
    display: flex;
    padding: 10px 0 10px 0;
    justify-content: space-around;
  }

  .upload_texto {
    width: 150px;
  }

  #upload_caja-titulo {
    width: 60%;
  }

  #upload {
    width: 60%;
  }

  .upload_campo {
    width: 230px;
  }
}
