@media (min-width: 720px) {

  #upload-linea-form {
    display: flex;
    padding: 10px 0 10px 0;
    justify-content: space-around;
  }

  .upload_texto {
    width: 160px;
  }

  #upload_caja-titulo {
    width: 60%;
  }

  #upload {
    width: 60%;
  }

  .upload_campo {
    width: 280px;
  }

  .upload_campo-descripcion {
    width: 280px;
  }

  #upload_caja {
    max-width: 1000px;
    margin: auto;
  }
}
