<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>

  <body>
    <header>
      <section id="header-superior">
        <figure>
          <img
            id="logo-grande"
            src="/logo/CAVA-WINES-LOGO-GRANDE-BLANCO.svg"
            alt="CW Cava Wines blanco"
          />
        </figure>
        <form id="search-bar" action="/search" method="get">
          <div id="search-bar-items">
            <input
              id="recuadro-search-bar"
              type="text"
              name="search"
              placeholder="¡Busca tus vinos!"
            />
            <i id="icono-lupa" class="fa-solid fa-magnifying-glass"></i>
          </div>
        </form>

        <nav id="header-navbar">
          <div>
            <i class="fa-solid fa-cart-shopping"></i>
            <a href="/cart">Mi Carrito</a>
          </div>
          <div>
            <i class="fa-solid fa-user"></i>
            <a href="/login">Mi Cuenta</a>
          </div>
        </nav>
      </section>

      <nav id="main-navbar">
        <a href="/">Inicio</a>
        <a href="/search">Productos</a>
        <a href="/contact">Contacto</a>
      </nav>
    </header>

    <main>
      <figure><img src="images/banner.jpg" alt="banner" id="banner" /></figure>
      <section id="carrito">
        <h2>CARRITO DE COMPRAS</h2>
        <!--Productos del carrito de compras-->
        <section id="productos">
          <article class="articulos">
            <figure>
              <img src="images/malbec-roble.jpg" alt="malbec roble" />
            </figure>
            <section class="textoProductos">
              <h4 class="nombreProducto">Terravita Malbec Roble Organico</h4>
              <p>Malbec Roble</p>
              <p>Maipu Mendoza</p>
              <a href="" id="sumaResta">- 1 +</a>
            </section>
            <a href=""><i class="fa-solid fa-trash-can tachoProductos"></i></a>
            <h4 class="precio">$6087</h4>
          </article>
          <article class="articulos">
            <figure>
              <img
                src="images/cabernet-sauvignon.jpg"
                alt="cabernet sauvignon"
              />
            </figure>
            <section class="textoProductos">
              <h4 class="nombreProducto">Terravita Cabernet Sauvignon</h4>
              <p>Cabernet Sauvignon</p>
              <p>Maipu Mendoza</p>
              <a href="" id="sumaResta">- 1 +</a>
            </section>
            <a href=""><i class="fa-solid fa-trash-can tachoProductos"></i></a>
            <h4 class="precio">$5072</h4>
          </article>
          <article class="articulos">
            <figure><img src="images/malbec.jpg" alt="malbec" /></figure>
            <section class="textoProductos">
              <h4 class="nombreProducto">Terravita Malbec</h4>
              <p>Malbec</p>
              <p>Maipu Mendoza</p>
              <a href="" id="sumaResta">- 1 +</a>
            </section>
            <a href=""><i class="fa-solid fa-trash-can tachoProductos"></i></a>
            <h4 class="precio">$5072</h4>
          </article>
        </section>
        <!--Ventana con el total de la compra-->
        <section id="compraTotal">
          <h3 id="nombreProducto">RESUMEN DE COMPRAS</h3>
          <!--Elección del tipo de envio-->
          <form action="/cart" method="get">
            <fieldset id="envio">
              <label for="envio" id="selector"
                >Seleccione el tipo de envio</label
              >
              <section>
                <input
                  type="radio"
                  name="envio"
                  id="domicilio"
                  value="domicilio"
                />
                <label for="domicilio">Envio a domicilio</label>
              </section>
              <section>
                <input
                  type="radio"
                  name="envio"
                  id="tienda"
                  value="domicilio"
                />
                <label for="domicilio">Retiro en tienda</label>
              </section>
            </fieldset>
          </form>
          <section id="totalCompra">
            <h4 id="total">Total: $16.231</h4>
            <a href="" id="botonCompra">Iniciar compra</a>
            <a href="/search" id="botonSeguirComprando">Seguir comprando</a>
          </section>
        </section>
      </section>
    </main>

    <footer>
      <figure>
        <img
          src="/logo/CAVA-WINES-LOGO-CHICO-BLANCO.svg"
          alt="logo-chico"
          id="logo-chico"
        />
      </figure>
      <nav id="sitebar-footer">
        <a href="/">Inicio</a>
        <a href="/search">Productos</a>
      </nav>
      <nav id="contacto-footer">
        <h4>Contactos</h4>
        <a href="/contact"><i class="fa-solid fa-envelope"></i></a>
        <a href="/contact"><i class="fa-solid fa-location-dot"></i></a>
        <a href="/contact"><i class="fa-solid fa-phone"></i></a>
      </nav>
      <nav id="redes-footer">
        <h4>Redes</h4>
        <a href="/contact"><i class="fa-brands fa-facebook"></i></a>
        <a href="/contact"><i class="fa-brands fa-whatsapp"></i></a>
        <a href="/contact"><i class="fa-brands fa-instagram"></i></a>
        <a href="/contact"><i class="fa-brands fa-twitter"></i></a>
      </nav>
    </footer>
  </body>
</html>
