<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
</head>
  <body>
    <header>
      <%- include('../partials/header.ejs') %>
    </header>
    <main>
      <section id="edit_caja">
        <h1 id="edit_caja-titulo">EDITAR PRODUCTO</h1>
        <form id="edit" action="/register" method="post">
          <div>
            <div id='edit_linea-form'>
              <label for="name-product" class="edit_texto">Producto: </label>
              <input type="text" name="name-product" class="edit_campo" minlength="4"/>
            </div>
            <div id='edit_linea-form'>
              <label for="description" class="edit_texto">Descripcion: </label>
              <textarea type="text" name="description" class="edit_campo-descripcion" minlength="4"> </textarea>
            </div>
            <div id='edit_linea-form'>
              <label for="price" class="edit_texto">Precio: </label>
              <input type="text" name="price" class="edit_campo" minlength="4"/>
            </div>
            <div id='edit_linea-form'>
              <label for="email" class="edit_texto">Imagen: </label>
              <input  class="edit_campo-imagen" type="file" name="image" accept=".jpg" multiple>
            </div>
            <div id="edit_botonera">
              <button id="edit_confirmar-edicion" type="button">Confirmar modificaciones</button>
            </div>
          </div>
        </form>
      </section>
    </main>
    <footer>
      <%- include('../partials/footer.ejs') %>
    </footer>
  </body>
</html>
