<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %>
    <main>
      <section id="caja-register">
        <h1 id="caja-register-titulo">EDITAR PRODUCTO</h1>
        <form id="register" action="/register" method="post">
          <section>
            <article>
              <label for="name-product" class="texto">Producto: </label>
              <input
                type="text"
                name="name-product"
                class="campo-register"
                minlength="4"
              />
            </article>

            <article>
              <label for="description" class="texto">Descripcion: </label>
              <textarea type="text" name="description" class="campo-register-descripcion" minlength="4"> </textarea>
            </article>

            <article>
               <label for="price" class="texto">Precio: </label>
               <input
                 type="text"
                 name="price"
                 class="campo-register"
                 minlength="4"
               />
             </article>

             <article>
               <label for="email" class="texto">Imagen: </label>
               <input  class="campo-register-imagen" type="file" name="image" accept=".jpg" multiple>
             </article>

            <section id="botonera">
              <button id="crear-cuenta" type="button">
                <a class="boton-principal" href=" ">Confirmar edicion</a>
              </button>
             
            </section>
          </section>
        </form>
      </section>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>