<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&family=Bitter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/general.css" />
    <link rel="stylesheet" href="css/header-mobile.css" />
    <link rel="stylesheet" href="css/header-tablet.css" />
    <link rel="stylesheet" href="css/header-desktop.css" />
    <link rel="stylesheet" href="css/product-mobile.css" />
    <link rel="stylesheet" href="css/product-tablet.css" />
    <link rel="stylesheet" href="css/product-desktop.css" />
    <link rel="stylesheet" href="css/footer-mobile.css" />
    <link rel="stylesheet" href="css/footer-desktop.css" />
    <title>Cava Wines</title>
    <link rel="shortcut icon" href="logo/CAVA-WINES-LOGO-CHICO-BN.svg" />
  </head>
  <body>
    <header>
      <section id="header-superior">
        <img
          id="logo-grande"
          src="/logo/CAVA-WINES-LOGO-GRANDE-BLANCO.svg"
          alt="CW Cava Wines blanco"
        />

        <form id="search-bar" action="/search" method="get">
          <div id="search-bar-items">
            <input
              id="recuadro-search-bar"
              type="text"
              name="search"
              placeholder="¡Busca tus vinos!"
            />
            <i id="icono-lupa" class="fa-solid fa-magnifying-glass"></i>
          </div>
        </form>

        <nav id="header-navbar">
          <div>
            <i class="fa-solid fa-cart-shopping"></i>
            <a href="/cart">Mi Carrito</a>
          </div>
          <div>
            <i class="fa-solid fa-user"></i>
            <a href="/login">Mi Cuenta</a>
          </div>
        </nav>
      </section>

      <nav id="main-navbar">
        <a href="/">Inicio</a>
        <a href="/search">Productos</a>
        <a href="/contact">Contacto</a>
      </nav>
    </header>

    <main>
      <figure>
        <img src="images/banner.jpg" alt="banner" id="main_banner" />
      </figure>
      <article id="main_producto">
        <figure>
          <img src="images/malbec-roble.jpg" alt="malbec roble" />
        </figure>
        <section id="producto_compra">
          <h3 id="producto_compra-nombre">Terravita Malbec Roble</h3>
          <h2 id="producto_compra-precio">$6087</h2>
          <form action="/product" id="producto_compra-boton">
            <fieldset id="producto_compra-boton-sumaResta">
              <input type="button" value="-" id="producto_compra-boton-resta" />
              <input
                type="number"
                name="cantidad"
                id="producto_compra-boton-cantidad"
                placeholder="1"
              />
              <input type="button" value="+" id="producto_compra-boton-suma" />
            </fieldset>
          </form>
          <form action="/cart" id="producto_compra-boton-carrito">
            <button id="producto_compra-boton-carrito-mobile">
              <i class="fa-solid fa-cart-shopping"></i>
            </button>
            <button id="producto_compra-boton-carrito-texto">
              AGREGAR AL CARRITO
            </button>
          </form>
          <section id="producto_compra-descripcion">
            <h4>DATOS ANALITICOS</h4>
            <p>
              Alcohol: 13,30%<br />
              Acidez total: 5,50 g/l<br />
              Azúcar residual: 1,90 g/l
            </p>
            <h4>CARACTERISTICAS DEGUSTATIVAS</h4>
            <p>
              Vista: Rojo oscuro con reflejos bordó.<br />
              Nariz: De gran complejidad aromática, se perciben notas a fruta
              madura que recuerdan a las ciruelas, al agitar la copa aparecen
              notas a vainilla, caramelo y chocolate.<br />
              Boca: Vino aterciopelado, con taninos estructurados, de baja
              acidez, con un retrogusto agradable.
            </p>
          </section>
        </section>
      </article>
    </main>

    <footer>
      <img
        src="/logo/CAVA-WINES-LOGO-CHICO-BLANCO.svg"
        alt="logo-chico"
        id="logo-chico"
      />
      <nav id="sitebar-footer">
        <a href="/">Inicio</a>
        <a href="/search">Productos</a>
      </nav>
      <nav id="contacto-footer">
        <h4>Contactos</h4>
        <a href="/contact"><i class="fa-solid fa-envelope"></i></a>
        <a href="/contact"><i class="fa-solid fa-location-dot"></i></a>
        <a href="/contact"><i class="fa-solid fa-phone"></i></a>
      </nav>
      <nav id="redes-footer">
        <h4>Redes</h4>
        <a href="/contact"><i class="fa-brands fa-facebook"></i></a>
        <a href="/contact"><i class="fa-brands fa-whatsapp"></i></a>
        <a href="/contact"><i class="fa-brands fa-instagram"></i></a>
        <a href="/contact"><i class="fa-brands fa-twitter"></i></a>
      </nav>
    </footer>
  </body>
</html>
