<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
</head>
  <body>
    <header>
      <%- include('../partials/header.ejs') %>
    </header>
    <main>
      <fieldset id="upload_caja">
        <h1 id="upload_caja-titulo">NUEVO PRODUCTO</h1>
        <form id="upload" action="/register" method="post">

          <div>
            <div id='upload_linea-form'>
              <label for="name-product" class="upload_texto">Marca: </label>
              <input type="text" name="name-product" class="upload_campo" minlength="4"/>
            </div>
            <div id='upload_linea-form'>
              <label for="categoria" class="upload_texto">Categoria: </label>
              <input type="text" name="categoria" class="upload_campo" minlength="4"/>
            </div>
            <div id='upload_linea-form'>
              <label for="price" class="upload_texto">Precio: </label>
              <input type="text" name="price" class="upload_campo" minlength="4"/>
            </div>      
            <div id='upload_linea-form'>
              <label for="email" class="upload_texto">Imagen: </label>
              <input  class="upload_campo-imagen" type="file" name="image" accept=".jpg" multiple>
            </div>

            <h3 class="upload_titulos"> Datos analiticos: </h3>
            <div id='upload_linea-form'>
              <label for="alcohol" class="upload_texto">Alcohol: </label>
              <input type="text" name="alcohol" class="upload_campo" minlength="4"> </input>
            </div>
            <div id='upload_linea-form'>
              <label for="acidez" class="upload_texto">Acidez total: </label>
              <input type="text" name="acidez" class="upload_campo" minlength="4"> </input>
            </div>
            <div id='upload_linea-form'>
              <label for="azucar" class="upload_texto">Azucar residual: </label>
              <input type="text" name="azucar" class="upload_campo" minlength="4"> </input>
            </div>

            <h3 class="upload_titulos"> Caracteristicas degustativas: </h3>
            <div id='upload_linea-form'>
              <label for="vista" class="upload_texto">Vista: </label>
              <input type="text" name="vista" class="upload_campo" minlength="4"> </input>
            </div>
            <div id='upload_linea-form'>
              <label for="nariz" class="upload_texto">Nariz: </label>
              <input type="text" name="nariz" class="upload_campo" minlength="4"> </input>
            </div>
            <div id='upload_linea-form'>
              <label for="boca" class="upload_texto">Boca: </label>
              <input type="text" name="boca" class="upload_campo" minlength="4"> </input>
            </div>
            <div id='upload_linea-form'>
              <label for="description" class="upload_texto">Otros: </label>
              <textarea type="text" name="description" class="upload_campo-descripcion" minlength="4"> </textarea>
            </div>
           
            <div id="upload_botonera">
              <button id="upload_crear-cuenta" type="button"> Publicar producto </button>
            </div>

          </div>
        </form>
      </fieldset>
    </main>
    <footer>
      <%- include('../partials/footer.ejs') %>
    </footer>
  </body>
</html>
