<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <header><%- include('../partials/header.ejs') %></header>
    <main>
      <section id="register_caja">
        <h1 id="register_caja-titulo">REGISTRO DE USUARIO</h1>
        <form
          id="register"
          action="/users/save"
          method="post"
          enctype="multipart/form-data"
        >
          <fieldset>
            <div class="register_caja-linea-form">
              <label for="nombre" class="register_texto">Nombre: </label>
              <input
                type="text"
                name="nombre"
                class="register_campo"
                minlength="4"
              />
            </div>
            <div class="register_caja-linea-form">
              <label for="apellido" class="register_texto">Apellido: </label>
              <input
                type="text"
                name="apellido"
                class="register_campo"
                minlength="4"
              />
            </div>

            <div class="register_caja-linea-form">
              <label for="avatar" class="register_texto"
                >Imagen de usuario:
              </label>
              <input
                class="register_campo-imagen"
                type="file"
                name="avatar"
                accept=".jpg"
              />
            </div>

            <div class="register_caja-linea-form">
              <label for="email" class="register_texto">E-Mail: </label>
              <input
                type="email"
                name="email"
                class="register_campo"
                minlength="6"
              />
            </div>
            <div class="register_caja-linea-form">
              <label for="fecha-nacimiento" class="register_texto"
                >Fecha de nacimiento:
              </label>
              <input
                type="date"
                name="fechaNacimiento"
                id="fecha-nacimiento"
                class="register_campo"
              />
            </div>
            <div class="register_caja-linea-form">
              <label for="clave" class="register_texto">Contraseña: </label>
              <input
                type="password"
                name="password"
                class="register_campo"
                minlength="8"
              />
            </div>
            <div class="register_caja-linea-form">
              <label for="clave-confirmada" class="register_texto"
                >Confirmar contraseña:
              </label>
              <input
                type="password"
                name="password-confirmada"
                class="register_campo"
                minlength="8"
              />
            </div>
            <div id="register_botonera">
              <button id="register_botonera-crear-cuenta" type="submit">
                Crear cuenta
              </button>
              <a id="register_botonera-iniciar-sesion" href="/users/login">
                Iniciar sesion
              </a>
            </div>
          </fieldset>
        </form>
      </section>
    </main>
    <footer><%- include('../partials/footer.ejs') %></footer>
  </body>
</html>
