<img
  src="/logo/CAVA-WINES-LOGO-CHICO-BLANCO.svg"
  alt="logo-chico"
  id="footer_logo-chico"
/>

<nav id="footer_sitebar">
  <a href="/">Inicio</a>
  <a href="/products/">Productos</a>
</nav>

<nav id="footer_contacto">
  <h4>Contactos</h4>
  <a href="/contact"><i class="fa-solid fa-envelope"></i></a>
  <a href="/contact"><i class="fa-solid fa-location-dot"></i></a>
  <a href="/contact"><i class="fa-solid fa-phone"></i></a>
</nav>

<nav id="footer_redes">
  <h4>Redes</h4>
  <a href="/contact"><i class="fa-brands fa-facebook"></i></a>
  <a href="/contact"><i class="fa-brands fa-whatsapp"></i></a>
  <a href="/contact"><i class="fa-brands fa-instagram"></i></a>
  <a href="/contact"><i class="fa-brands fa-twitter"></i></a>
</nav>
