<section id="header_superior">
  <img id="header_logo-grande" src="/logo/CAVA-WINES-LOGO-GRANDE-BLANCO.svg" alt="CW Cava Wines blanco" />

  <form id="header_searchbar" action="/search" method="get">
    <div id="header_searchbar-items">
      <input id="header_searchbar-recuadro" type="text" name="search" placeholder="¡Busca tus vinos!" />
      <i id="header_searchbar-icono" class="fa-solid fa-magnifying-glass"></i>
    </div>
  </form>

  <nav id="header_navbar">
    <div>
      <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
      <a id='header_icono-texto' href="/cart">Mi Carrito</a>
    </div>
    <div>
      <a href="/login"><i class="fa-solid fa-user"></i></a>
      <a id='header_icono-texto' href="/login">Mi Cuenta</a>
    </div>
  </nav>
</section>

<nav id="main_navbar">
  <a href="/">Inicio</a>
  <a href="/search">Productos</a>
  <a href="/contact">Contacto</a>
</nav>