<header>
   <section id="header-superior">
     <img
       id="logo-grande"
       src="/logo/CAVA-WINES-LOGO-GRANDE-BLANCO.svg"
       alt="CW Cava Wines blanco"
     />

     <form id="search-bar" action="/search" method="get">
       <div id="search-bar-items">
         <input
           id="recuadro-search-bar"
           type="text"
           name="search"
           placeholder="¡Busca tus vinos!"
         />
         <i id="icono-lupa" class="fa-solid fa-magnifying-glass"></i>
       </div>
     </form>

     <nav id="header-navbar">
       <div>
        <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
        <a id='texto-icono-header' href="/cart">Mi Carrito</a>
       </div>
       <div>
        <a href="/login"><i class="fa-solid fa-user"></i></a>
        <a id='texto-icono-header' href="/login">Mi Cuenta</a>
       </div>
     </nav>
   </section>

   <nav id="main-navbar">
     <a href="/">Inicio</a>
     <a href="/search">Productos</a>
     <a href="/contact">Contacto</a>
   </nav>
 </header>