<section id="header_superior">
  <figure>
    <a href="/">
      <img
        id="header_logo-grande"
        src="/logo/CAVA-WINES-LOGO-GRANDE-BLANCO.svg"
        alt="CW Cava Wines blanco"
      />
    </a>
  </figure>

  <form id="header_searchbar" action="/products/" method="get">
    <fieldset id="header_searchbar-items">
      <input
        id="header_searchbar-recuadro"
        type="text"
        name="search"
        placeholder="¡Busca tus vinos!"
      />
      <button type="submit">
        <i id="header_searchbar-icono" class="fa-solid fa-magnifying-glass"></i>
      </button>
    </fieldset>
  </form>

  <nav id="header_navbar">
    <div>
      <% if (user && user.isAdmin == false) { %>
      <a href="/products/cart"><i class="fa-solid fa-cart-shopping"></i></a>
      <a href="/products/cart" class="header_icono-texto">Mi Carrito</a>
      <% } %>
    </div>

    <div>
      <% if (!user) { %>
      <a href="/users/login"><i class="fa-solid fa-user"></i></a>
      <a href="/users/login" class="header_icono-texto">Ingresar a mi cuenta</a>
      <% } else if (user && user.isAdmin == true) { %>
      <a href="/users/logout"><i class="fa-solid fa-user-slash"></i></a>
      <a href="/users/logout" class="header_icono-texto"
        >Cerrar cuenta ADMIN <%= user.nombre %></a
      >
      <% } else { %>
      <a href="/users/logout"><i class="fa-solid fa-user-slash"></i></a>
      <a href="/users/logout" class="header_icono-texto"
        >Cerrar sesion de <%= user.nombre %></a
      >
      <% } %>
    </div>
  </nav>
</section>

<nav id="main_navbar">
  <a id="header_inicio" href="/">Inicio</a>
  <a id="header_productos" href="/products">Productos</a>

  <% if (user && user.category == "admin") { %>
  <a id="header_contacto" href="/products/create">Nuevo producto</a>
  <% } else { %>
  <a id="header_contacto" href="/contact">Contacto</a>
  <% } %>
</nav>
